/*Stylesheet created by Hubert Zieba*/
@import url("style.css");
body {
    font-family:  'Trebuchet MS', sans-serif !important;
    background-color: #d1c9c9 !important;
    margin:0%;
    color:#674110 !important;
}
a:hover{
  color: #6E5F15 !important;
  text-decoration: none !important;
}
.content {
  width: min(1100px, 100%);
  display: flex;
  flex-wrap: wrap;
  background-color: #C68A68;
  min-height: 100vh;
}

.navi {
  flex: 0 0 500px;
  text-align: center;
  background-color: #C68A68;
  padding-bottom: 50px;
  color: #674110;
  font-size: 22px;
  height: 100%;

}

.navi img{
    width: 500px;
    width: 500px;
}

.main {
  flex: 1 1 400px;
  text-align: justify;
  padding: 100px;
  background-color: #d1c9c9;
  font-size: 14px;
  line-height: 2;
}

.main img{
    padding-top:50px;
    width:100%;
}

.footer{
  text-align: center;
  margin-top: auto;
  padding-top:50px;
  font-size: 8px;
  flex: 0 0 100%;
  opacity:40%;

}

@media (max-width: 1100px) {
  .content {
    background-color: #C68A68;
  }
  .navi, .main {
    max-width: 100%;
    align-items: center;
  }
  .main {
    padding-left:150px;
    padding-right:150px;
  }
}
.slides{
    display: none;

}
.slide{
  border-radius: 6px;
}
.fade {
  animation-name: fade;
  animation-duration: 4000ms;
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}