/*Stylesheet created by Hubert Zieba*/
@import url("style.css");

.about_container a {
    color:black;
}
@media (min-width: 1080px) {
.about_container{
    display:flex;    
}
}
.about_left_column{
    padding:20px;
    width:500px;
    flex:1;
}
.about_right_column{
    padding:20px;
    flex:1;
    
}
.about_text{
    width:500px;
    max-width:100%;
}
.about_photo{

}
.about_photo img{
    width:500px;
    max-width:100%;
    height: auto;
}
.slideshow{

}
.slides{
    display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#about_kitchen_img{
    display: block;
}
#about_kitchen_text{
    display: block;
}
#about_me_img{
    display: hidden;
}
#about_me_text{
    display: hidden;
}