/*Stylesheet created by Hubert Zieba*/
@import url("style.css");
body {
    font-family: Garamond !important;
}
h1 {
    font-size: 24px;
}
.about_container a {
    color:black;
}

.about_container{
    display:flex;    
}

.about_left_column{
    padding-top:20px;
    flex:1;
}
.about_right_column{
    padding-top:20px;
    flex:1;
    
}
.about_text{
    width:400px;
    height:400px;
    margin:0px;
    text-align: justify;
    padding:50px;
}
.about_photo{
    width:500px;
    height:500px;

}
.about_photo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.slides{
    display: none;
    width:500px;
    height:500px;

}
.slides img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.fade {
  animation-name: fade;
  animation-duration: 4000ms;
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}