/*Stylesheet created by Hubert Zieba*/
@import url("style.css");



.slides{
    display: none;

}
.slide{
  border-radius: 6px;
}
.fade {
  animation-name: fade;
  animation-duration: 4000ms;
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}