@import url("style.css");
/*reference for modals- https://codeconvey.com/snippet/bootstrap-5-modal-popup-tutorial-creating-success--error-messages-iPAdWOpr*/
/*reference for Bootstrap - https://getbootstrap.com/docs/5.3/ */
/*reference for other css - https://www.w3schools.com/csSref/index.php */
.fab, .fas {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 45%;
}


.fab:hover, .fas:hover {
    opacity: 0.7;
    text-decoration: none !important;
	color:#d1c9c9 !important;
}

.fa-instagram {
  background: #8F2F09;
  color: #d1c9c9;
}

.fa-tiktok {
  background: #8F2F09;
  color: #d1c9c9;
}

.email-icon {
    background: #8F2F09;
    color: #d1c9c9;
    transition: color 0.3s ease;
}
a {
    text-decoration: none;
    color: #d1c9c9;
}

@media(min-width:700px){
  .flexbox{
    display: flex;
    margin: 10px;
  }
    .flexbox{
    display: flex;
    margin: 10px;
  }
}

@media(max-width:699px){
  .flexbox {
    display: flex;
	  flex-wrap: wrap;
  }
}

.sidecontacts{
  background-color: white;
  flex: 1;
}
.contactForm{
  flex: 3;
}

h2{
	text-align: center;
	margin-bottom: 15px;
}
label{
	display: block;
	margin-top: 15px;
}
.formContainer{
	background-color: #C68A68;
	border-radius: 12px;
	padding: 20px;
	/*color: #d1c9c9 !important;*/
	/*box-shadow: 0 0 5px black;*/
}
.inVisibleDisplay{
	display: none;
}
input{
	border-radius: 8px;
	width:100%;
	margin-top: 4px;
	background-color: #d1c9c9 !important;
	border: 0px !important;
	color:#674110 !important;
}
button{
	margin-top:15px;
	padding-top:10px;
	padding-bottom:10px;
	color:#d1c9c9;
	border:none;
	border-radius: 12px !important;
	cursor:pointer;	
}
.btn{
	background-color: #8F2F09;
	color:#d1c9c9 !important;
	border:none;
}
.btn-primary:hover{
	background-color: #8F2F09;
	opacity: 0.7;
}


.modal#feedbackModal .modal-content {
	border-radius: 12px;
	background-color: #d1c9c9 !important;
}

.modal#feedbackModal .modal-content svg {
	width: 100px; 
	display: block; 
	margin: 0 auto;
	justify-content: center;
	
	
}
 
.modal#feedbackModal .modal-content .path {
	stroke-dasharray: 1000; 
	stroke-dashoffset: 0;
}

.modal#feedbackModal .modal-content .path.circle {
	-webkit-animation: dash 0.9s ease-in-out; 
	animation: dash 0.9s ease-in-out;
}
 
.modal#feedbackModal .modal-content .path.line {
	stroke-dashoffset: 1000; 
	-webkit-animation: dash 0.95s 0.35s ease-in-out forwards; 
	animation: dash 0.95s 0.35s ease-in-out forwards;
}

.modal#feedbackModal .modal-content .path.check {
	stroke-dashoffset: -100; 
	-webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards; 
	animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash { 
	0% {
		stroke-dashoffset: 1000;}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash-check { 
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
.box00{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}




