

/*Person 1: Base Styles*/
body {
    background-color: #d1c9c9;
    /*Web safe fonts https://www.w3schools.com/csSref/css_websafe_fonts.php */
    font-family: cursive, Arial;
}
.navigation{
  background-color: #c6693D;
  color: white;
}
.currentPage{
    color: #8F2F09;
}
a {
    text-decoration: none;
    color: #d1c9c9;
}

a:hover, a:active{
    text-decoration: overline underline;
}


/*Person 2: Menu*/

/*Person 3: Responsive*/