/*Collab: Base Styles and Menu*/
body {
  font-family:  'Trebuchet MS', sans-serif !important;
  background-color: #d1c9c9 !important;
  margin:0%;
  color:#674110 !important;
  line-height: 2;
}
h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #8F2F09;
  font-weight: bold;
}
a {
  font-size:20px !important;
  text-decoration: none;
  font-weight: bold !important;
  color: #d1c9c9 !important;
}
a:hover{
  color: #6E5F15 !important;
  text-decoration: none !important;
}
.currentPage{
  color: #8F2F09 !important;
}
.left-col {
  background-color: #C68A68;
  min-height: 100vh;
  padding:50px !important;
}
.content img{
  border-radius: 12px;
  width:100%;
}

@media (max-width: 1199.98px) {
  .left-col {
    min-height: auto;
    text-align: center;
  }
  .logo img {
    min-width: 300px;
    max-width: 40%;
    height: auto;
  }
}
.right-col {
  background-color: #d1c9c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding:50px !important;
  text-align: justify;
}

.footer {
  font-size: 8px;
  text-align: center;
  padding-top: 50px !important;
  opacity: 50%;
}